name: Formatter

on:
  pull_request: {}

jobs:
  formatting:
    runs-on: ubuntu-latest

    steps:
      - name: git checkout
        uses: actions/checkout@v5.0.1
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.WALL_BREW_BOT_PAT }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'

      # Table of Contents Tool: https://github.com/thlorenz/doctoc
      - name: Install Doctoc
        run: npm install -g doctoc

      - name: Update Markdown Files
        run: doctoc README.md --github

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          commit_message: |
            [Format] Auto-formatting
